.bio__text_container {
 margin-right: 4vw;
}

.img__container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img__container img {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(0.77, 0, 0.75, 1);
}

img.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
}

#description-text div {
    opacity: 0;
}

#description-text .isreveal div {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 1fr;
    }

    .bio__text_container {
        margin: 0 24px 48px 24px;
    }
  }



