/* .bio__text_container {
 margin-right: 4vw;
} */

.img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
}

.img-container img {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(0.77, 0, 0.75, 1);
}

img.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
}

#bio-text div {
    opacity: 0;
}

#bio-text .isreveal div {
    opacity: 1;
}

/* @media only screen and (max-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 1fr;
    }

    .bio__text_container {
        padding-top: 32px;
    }
  } */



