.blog-hero-text-container {
    padding-left: 10vw;
}

.blog-banner-items {
    margin: 12vw 0 20vw 0;
}

  
.blog-banner-title {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    z-index: 100;
    color: #E5E5E5;
}
  
.blog-banner-subheader {
    position: relative;
    z-index: 100;
    color: #E5E5E5;
}
  
.blog-hero-paragraph {
    position: relative;
    z-index: 100;
    width: 80%;
    color: #E5E5E5;
}

@media only screen and (max-width: 768px) {

    .blog-banner-items {
        margin: 32vw 0 0 0;
    }

    .blog-hero-content-line {
      height: 60px;
      overflow: hidden;
    }
    
    .blog-hero-content-line-inner {
      margin-top: -75px;
    }
  
    .blog-banner-items {
      margin-bottom: 0;
      padding-bottom: 300px;
    }
  
    #blog-header-text {
      color: #E5E5E5;
      font-size: 40px;
      /* font-weight: 500; */
    }
  
    .blog-hero-text-container {
      padding-left: 0;
    }
  
  }
  