/* Section Styling */
.reviewbar {
    width: 100%;
    background-color: transparent;
}

.testimonials-section {
    text-align: center;
}

/* Carousel Styling */
.carousel-cell-inner {
    margin: auto;
    width: 50%;
}


.carousel-cell {
    width: 100%;
    height: 400px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

/* Reviews Text Styling */
#reviewName {
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .carousel-cell-inner {
        width: 80%;
    }

    .carousel-cell {
        height: 300px;
      }
}