#capabilities-text {
    padding: 0px;
    margin: 0;
}

#capabilities-text div {
    opacity: 0;
}

#capabilities-text .isreveal div {
    opacity: 1;
}

#second-text div {
    opacity: 0;
}

#second-text .isreveal div {
    opacity: 1;
}

.capability-item h3 {
    font-family: dienstag, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    color: #1C1C1C;
    line-height: 0.7em;
    margin: 0px;
}

.capability-item h4 {
    margin: 0px;
}

.cabailities-container {
    padding-top: 12vw;
}

.capability-item {
    padding-bottom: 36px;
}

.line-div {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1C1C1C;
}

.line-container {
    height: 2px; 
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.line-container div {
    clip-path: inset(0% 100% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.75, 1);
}

.line-div.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
}

@media only screen and (max-width: 768px) {
    #capabilities-text {
        padding: 2vw 0 2vw 0;
    }
    .capability-item h3 {
        font-size: 40px;
        line-height: 0.7em;
    }
}
