/* .container {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
  text-align: right;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
} */

.footer-section {
  padding: 4vw 0 12vw 0;
  margin: auto; 
  /* width: 500px; */
}

/* .sm-container {
  gap: 48px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}  */

.sm-item {
  display: inline-block;
  padding: 0 20px 0 20px;
  color: #2F2F2F;
} 

.footer-information {
  width: 80%;
}

#footer-text {
  color: #2F2F2F;
}

#credit {
  padding-top: 12vw;
  color: #2F2F2F;
}

#footer-logo {
  width: 50%;
  padding-bottom: 24px;
}

#ask-for-availability {
  font-size: 60px;
  color: #2F2F2F;
}

#stay-updated {
  font-size: 18px;
  padding-left: 20px;
  margin-top: 0;
  color: #2F2F2F;
}

@media only screen and (max-width: 768px) {
  #stay-updated {
    padding-left: 0px;
  }

  .sm-item { 
    padding-left: 0px;
  }

}