@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://use.typekit.net/ofj1axb.css");
@import url("https://use.typekit.net/ofj1axb.css");

html * {
  box-sizing: border-box;
}

body {
  background-color: #EDEDED;
  color: #1C1C1C;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%; 
}

h1 {
  font-family: dienstag, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  font-weight: 500;
  color: #1C1C1C;
  z-index: 100;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  z-index: 100;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1C1C1C;
  z-index: 100;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #4A4A4A;
  z-index: 100;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 500;
  z-index: 100;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  z-index: 100;
}

/* a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.5s ease;
  font-weight: 600;
}

a:hover {
  color: #E5E5E5; 
  color: #121212;
  background-color: #E6AE00;
  filter: blur(16px);
} */

a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #E6AE00;
  /* filter: blur(1px); */
  z-index: -1;
  transition: transform .3s ease;
}

a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #4A4A4A;
  padding: 2px 5px 2px 5px;
  /* font-size: 5rem; */
}

/* a.active {
  color: #E6AE00;
  font-weight: var(--bold);
} */

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.section__width {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
}

.rotate {
  transform-origin: 10px 15px;
  transform: rotate(270deg);
}


/* Loading Screen Styling */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1C1C1C;
}

.loader-wrapper h1, h3 {
  color: #FCFCFC;
}

.loader-lottie {
  width: 300px;
}


.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1C1C1C;
  z-index: 1;
}

/* Body Colour Change */
body{   
  transition: background-color 1s ease;
}

/* Dark Background */
.dark-bg {
  color: #CFCFCF;
}

/* Columns */
.two-column {
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Section Height */
.section-height {
  padding: 12vw 0 8vw 0;
}

.section-wrap {
  width: 70%;
  margin: auto;
}

/* Header and Subheader Custom Styling */
.text-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-explain h2 {
  padding-top: 100px;
  font-size: 28px;
  max-width: 80%;
} 

.section-part {
  float: right;
  max-width: 100px;
  opacity: 0;
  transition: opacity 5s; 
}

.section-title {
  float: left;
  max-width: 500px;
  opacity: 0;
  transition: opacity 5s; 
}

.section-title.is-reveal {
  opacity: 1;
}

.section-part.is-reveal {
  opacity: 1;
}


/* Mobile Optimized */
@media only screen and (max-width: 768px) {
  h1 {
    font-family: dystopian, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
    color: #1C1C1C;
  }
  
  h2 {
    font-family: dienstag, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 6px;
    font-weight: 600;
    color: #1C1C1C;
  }
  
  h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #4A4A4A;
  }
  
  h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .two-column {
    gap: 0px;
    grid-template-columns: auto;
  }

  .section-height {
    padding: 24vw 0 12vw 0;
  }

  .text-explain h2 {
    padding-top: 50px; 
    font-size: 18px;
    max-width: 100%;
  } 

  .section-part {
    float: right;
    max-width: 50px;
  }
  
  .section-title {
    float: left;
    max-width: 250px;
  }

  .section-wrap {
    width: 100%;
  }
  
}

.chevron-prev {
  transform: rotate(180deg);
}

/* Floating Shapes */
.shapes .sqare { 
  position: absolute; 
  top: -400px;
  left: 50px;
  width: 120px; 
  height: 480px; 
  background-color: #D0D0D0;
  filter: blur(16px);
  z-index: -100;
}

.shapes .circle { 
  position: absolute; 
  top: -200px;
  left: 300px;
  width: 236px; 
  height: 355px; 
  border-radius: 0 350px 350px 0;
  background-color: #D0D0D0;
  filter: blur(16px);
  z-index: -100;
}

.shapes .triangle {
  position: absolute; 
  top: -350px;
  left: 600px;
  width: 151px; 
  height: 226px; 
  border-radius: 0 350px 350px 0;
  background-color: #D0D0D0;
  filter: blur(16px);
  z-index: -100;
}

.float {
  animation-name: Floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 50px);}
    to {-webkit-transform: translate(0, -0px);}    
}

.spin {
  animation-name: Spinning;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.spin-top {
  animation-name: Spinning-Top;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Spinning-Top{
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
  } 
  100% {
      -webkit-transform: rotate(0deg);
  } 
}

@keyframes Spinning{
  0% {
    -webkit-transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-25deg);
  } 
  100% {
      -webkit-transform: rotate(0deg);
  } 
}

@media only screen and (max-width: 768px) {
  .shapes .sqare { 
    top: -400px;
    left: 0px;
    width: 75px; 
    height: 300px; 
  }
  
  .shapes .circle { 
    position: absolute; 
    top: -250px;
    left: 125px;
    width: 148px; 
    height: 221px; 
  }
  
  .shapes .triangle {
    top: -450px;
    left: 200px;
    width: 94px; 
    height: 141px; 
  }

}

/* End */