.blog-post-hero {
  /* margin: 0 auto; */
  /* width: 80%; */
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.blog-post-image {  
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

/* .blog-post-details {
  background: var(--background);
  left: 0;
  max-width: 40rem;
  width: 85%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: absolute;
} */

.blog-post-title {
  line-height: 1em;
  margin: 2vw 0 2vw;
  font-size: 40px;
}

.blog-post-content {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.blog-post-meta {
  font-family: 'Poppins', sans-serif;
  padding-top: 4vw;
  font-weight: 600;
}

@media (max-width: 768px) {
  .blog-post-hero {
    width: 100%;
    gap: 0px;
    grid-template-columns: auto;
  }

  .blog-post-title {
    font-size: 30px;
    margin-top: 6vw;
  }

  .blog-post-details{
    margin: 0 auto;
    padding: 24px 0px 24px 0px;
  }

  .blog-post-content {
    font-size: 15px;
  }

  .blog-post-meta {
    font-size: 12px;
  }

}

@media (max-width: 480px) {
  .blog-post-details{
    padding: 24px 0px 24px 0px;
  }
}

/*
@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
} */
