.stats {
    width: 100%;
    height: 124px;
    padding-top: 24px 0 48px 0;
    margin-top: 0px;
}

.count-up {
    font-weight: 700;
}

#count-up-text div {
    opacity: 0;
}

#count-up-text .isreveal div {
    opacity: 1;
}

/* .stats__title {
    color: #FCFCFC;
}

.activeWhite .stats__title {
    transition: background-color 2s ease;
    color: black;
} */