.hero-text-container {
  padding-left: 10vw;
}

.banner-items {
  margin: 12vw 0 20vw 0;
}

.banner-title {
  position: relative;
  z-index: 100;
} 

.banner-subheader {
  position: relative;
  z-index: 100;
}

.hero-paragraph {
  position: relative;
  z-index: 100;
  width: 50%;
}

.hero-content-line {
  height: 70px;
  overflow: hidden;
}

.hero-content-line-inner {
  margin-top: -82px;
}

@media only screen and (max-width: 768px) {
  .hero-content-line {
    height: 60px;
    overflow: hidden;
  }
  
  .hero-content-line-inner {
    margin-top: -75px;
  }

  .banner-items {
    margin: 32vw 0 0 0;
    padding-bottom: 300px;
  }

  #header-text {
    color: #2F2F2F;
    font-size: 42px;
  }

  .hero-text-container {
    padding-left: 0;
  }

  .hero-paragraph {
    width: 100%;
  }

}